body {
    background-image: url('../images/cool-background.png');
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h2 {
    text-align: center;
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}